body{
background: url(../img/shipPaper.jpg); no-repeat center center fixed;
                                               background-size: cover;
                                               -moz-background-size: cover;
                                               -webkit-background-size: cover;
                                               -o-background-size: cover;
}

#login-form{

padding: 8px;
background: RGB(255,255,255,0.2);

border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
}